@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,500;1,500&display=swap');

*{
    margin: 0;
    font-family: 'Plus Jakarta Sans';
}
:root{
    --red: hsl(1, 90%, 64%);
    --blue: hsl(219, 85%, 26%);
    --white: hsl(0, 0%, 100%);
    --very-light-grayish-blue: hsl(210, 60%, 98%);
    --light-grayish-blue-1: hsl(211, 68%, 94%);
    --light-grayish-blue-2: hsl(205, 33%, 90%);
    --grayish-blue: hsl(219, 14%, 63%);
    --dark-grayish-blue: hsl(219, 12%, 42%);
    --very-dark-blue: hsl(224, 21%, 14%);
}
body{
    width: 1440px;
    margin: 10px;
    font-size: 16px;
    background-color: var(--white);
}
main{
    margin: 0 auto;
    width: 335px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: last baseline;
    font-size: 10px;
    margin: 22px;
}
.logo{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content:left;
    align-items: last baseline;
}
.notif-count{
    padding: 2px 12px;
    background-color: var(--blue);
    border-radius: 20%;
    font-size: 18px;
    color: var(--white);
    font-weight: 800;
}
.read-btn{
    cursor: pointer;
}
.read-btn:hover{
    color: var(--blue);
}
button{
    background-color: inherit;
    border: none;
    font-size: 13px;
    color: var(--grayish-blue);
}
.unread{
    display: grid;
    grid-template-columns: 20% 78%;
    width:100%;
    column-gap: 2%;
    margin: 0 auto;
    margin-top: 1em;
    padding: 1em;
    border-radius: 0.5em;
    cursor: pointer;
    background-color: var(--very-light-grayish-blue);
    border-radius: 0.5em;
    width: 100%;
    z-index: 1;
}
.read{
    display: grid;
    grid-template-columns: 20% 78%;
    width:100%;
    column-gap: 2%;
    margin: 0 auto;
    margin-top: 1em;
    padding: 1em;
    border-radius: 0.5em;
    cursor:auto;
    border-radius: 0.5em;
    width: 100%;
}
#notif-5{
     display: grid;
    grid-template-columns: 20% 63% 15%;
    column-gap: 2%;
}
.profile{
    width: 45px;
    height: 45px;
}
.chess-picture{
    width: 40px;
    height: 40px;
}
.text-notif, .time-notif{
    text-align: left;
}
.text-notif{
    color: var(--dark-grayish-blue);
}
.profile-link{
    color: var(--blue);
    font-weight: 800;
    text-decoration: none;
    margin-left: 0.3em;
}
.profile-link:visited{
    color: var(--dark-grayish-blue);
}
.text-notif small{
    margin-left: 0.3em;
    height: 0.8em;
    width: 0.8em;
    background-color: var(--red);
    border-radius: 50%;
    display: inline-block;
}
.time-notif{
    color: var(--grayish-blue);
    margin-top: 0.1em;
}
.message{
    border: 0.1em solid var(--light-grayish-blue-2);
    border-radius: 0.5em;
    padding: 1em;
    margin-top: 1em;
    text-align: left;
}
.message p{
    color: var(--dark-grayish-blue);
}

@media (min-width: 1000px){
    *{
        font-size: 16px;
    }
    html{
        background-color: var(--very-light-grayish-blue);
    }
    body{
        width: 900px;
        margin: 0 auto;
        border-radius: 1em;
        box-shadow: 1em 1em 2em 1em hsl(240, 1%, 90%);
    }
    header{
        padding: 3em 2em 0;
    }
    h1{
        font-size: 24px;
    }
    .read-btn{
        font-size: 18px;
    }
    main{
        width: 100%;
    }
     .unread, .read{
        width: 830px;
        grid-template-columns: 10% 78%;
    }
    #notif-5{
        grid-template-columns: 10% 78% 10%;
    }
}
